<div id="brand-carousel" >
    <!-- <h3>LISCENCED VENDOR</h3>
    <carousel [images]="brand_imgs" loop="true" cellsToShow="3" cellWidth="400" height="100" lightDOM="true" autoplay="true" autoPlayInterval="1000">
    </carousel> -->
    <div>
        <h1 id="coming-soon">WEBSITE COMING SOON...</h1>
        <span id="cog-container">
            <fa-icon id="cog" [icon]="faCog" [spin]="true" transform="grow-200"></fa-icon>
        </span>
        <!-- <fa-icon id="cog" [icon]="faCog" [spin]="true" transform="grow-300"></fa-icon> -->
    </div>
</div>
