#brand-carousel{
  /* background-color: black;
  color: whitesmoke; */
}

#brand-carousel h3{
    font-family: 'Ubuntu', sans-serif;
}

#coming-soon{
  text-align: center;
  margin-top: 40vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 400%;
}

#cog-container{
  margin-left: 40vw;
  margin-top: 100px;
  position: absolute;

}

#logo{
  display: none;
}

@media only screen and (max-width: 810px) {
  #coming-soon{
    margin-top: 30px;
    line-height: 110%;
  }
  #cog-container{
    margin-top: 100px;
    position: absolute;
  }
  #logo{
    width: 50%;
  }

}

@media only screen and (max-width: 1000px){
  #logo{
    display: block;
    /* position: absolute; */
    margin-top:50px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  #coming-soon{
    margin-top: 30px;
    line-height: 110%;
  }
}